In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum as _sum
from pyspark.sql.functions import when
from pyspark.sql.functions import col, to_timestamp, year
from pyspark.sql.window import Window
from pyspark.sql.functions import sum as _sum, when

In [0]:
# Set the storage account
spark.conf.set(
    "fs.azure.account.key.taxidatalake2025.dfs.core.windows.net",
    "eUGvWRhpg9Hu20GqBnedmb4+jafMNcOdC2+9ykuUqhEjJ5lvm8W5FIy/FISMls9bVHolgKqk/zIE+AStgpuUCA=="
)

file_path = "abfss://taxidata@taxidatalake2025.dfs.core.windows.net/yellow-tripdata-2018-01.csv"
df = spark.read.option("header", True).option("inferSchema", True).csv(file_path)
df.show(5)
df.printSchema()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2018-01-01 00:21:05|  2018-01-01 00:24:23|              1|          0.5|         1|                 N|          41|          24|           2|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         5.8|                  \N|         \N|
|       1| 2018-01-01 00:44:55|  2018-01-01 01:03:05|              1|          2.7|         1|                 N|         239|         140|           2|       14.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        15.3|                  \N|         \N|
|       1| 2018-01-01 00:08:26|  2018-01-01 00:14:21|              2|          0.8|         1|                 N|         262|         141|           1|        6.0|  0.5|    0.5|       1.0|         0.0|                  0.3|         8.3|                  \N|         \N|
|       1| 2018-01-01 00:20:22|  2018-01-01 00:52:51|              1|         10.2|         1|                 N|         140|         257|           2|       33.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        34.8|                  \N|         \N|
|       1| 2018-01-01 00:09:18|  2018-01-01 00:27:06|              2|          2.5|         1|                 N|         246|         239|           1|       12.5|  0.5|    0.5|      2.75|         0.0|                  0.3|       16.55|                  \N|         \N|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 5 rows
root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: string (nullable = true)
 |-- airport_fee: string (nullable = true)

In [0]:
columns_to_cast = [
    'fare_amount', 'extra', 'mta_tax', 'tip_amount', 
    'tolls_amount', 'improvement_surcharge', 'total_amount'
]

for col_name in columns_to_cast:
    df = df.withColumn(col_name, when(col(col_name) == "\\N", None).otherwise(col(col_name).cast("double")))

In [0]:
df = df.withColumn(
    "Revenue", 
    (col("fare_amount") + col("extra") + col("mta_tax") + 
     col("improvement_surcharge") + col("tip_amount") + 
     col("tolls_amount") + col("total_amount"))
)
df.select("VendorID", "fare_amount", "extra", "mta_tax", "tip_amount", "tolls_amount", "improvement_surcharge", "total_amount", "Revenue").show(100)

+--------+-----------+-----+-------+----------+------------+---------------------+------------+------------------+
|VendorID|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|           Revenue|
+--------+-----------+-----+-------+----------+------------+---------------------+------------+------------------+
|       1|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         5.8|              11.6|
|       1|       14.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        15.3|              30.6|
|       1|        6.0|  0.5|    0.5|       1.0|         0.0|                  0.3|         8.3|              16.6|
|       1|       33.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        34.8|              69.6|
|       1|       12.5|  0.5|    0.5|      2.75|         0.0|                  0.3|       16.55|              33.1|
|       1|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         5.8|              11.6|
|       1|        9.0|  0.5|    0.5|      2.05|         0.0|                  0.3|       12.35|24.700000000000003|
|       1|        4.0|  0.5|    0.5|       1.0|         0.0|                  0.3|         6.3|              12.6|
|       1|        5.5|  0.5|    0.5|       1.7|         0.0|                  0.3|         8.5|              17.0|
|       1|        5.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         6.8|              13.6|
|       1|        5.5|  0.5|    0.5|      1.35|         0.0|                  0.3|        8.15|              16.3|
|       1|       16.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        17.8|              35.6|
|       2|        5.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         6.8|              13.6|
|       2|        7.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         8.8|              17.6|
|       2|       10.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        11.3|              22.6|
|       1|       19.0|  0.5|    0.5|      4.05|         0.0|                  0.3|       24.35|              48.7|
|       2|       25.5|  0.5|    0.5|       6.7|         0.0|                  0.3|        33.5|              67.0|
|       1|        4.5|  0.5|    0.5|       1.7|         0.0|                  0.3|         7.5|              15.0|
|       1|       35.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        36.3|              72.6|
|       2|        6.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         7.3|              14.6|
|       2|       13.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        14.3|              28.6|
|       2|        9.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        10.8|              21.6|
|       2|       14.5|  0.5|    0.5|       2.0|         0.0|                  0.3|        17.8|              35.6|
|       2|       18.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        19.3|              38.6|
|       1|       12.0|  0.5|    0.5|      2.65|         0.0|                  0.3|       15.95|              31.9|
|       2|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         5.8|              11.6|
|       2|       16.0|  0.5|    0.5|      3.46|         0.0|                  0.3|       20.76|             41.52|
|       2|        4.0|  0.5|    0.5|      1.06|         0.0|                  0.3|        6.36|12.719999999999999|
|       1|        6.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         7.3|              14.6|
|       1|        7.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         8.8|              17.6|
|       1|        7.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         8.8|              17.6|
|       1|       10.5|  0.5|    0.5|      2.35|         0.0|                  0.3|       14.15|              28.3|
|       1|       27.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        28.8|              57.6|
|       2|        5.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         6.8|              13.6|
|       2|        4.5|  0.5|    0.5|      1.45|         0.0|                  0.3|        7.25|              14.5|
|       2|        5.0|  0.5|    0.5|      1.26|         0.0|                  0.3|        7.56|             15.12|
|       2|       11.0|  0.5|    0.5|      2.46|         0.0|                  0.3|       14.76|29.520000000000003|
|       2|       11.0|  0.5|    0.5|      3.08|         0.0|                  0.3|       15.38|             30.76|
|       2|       35.0|  0.5|    0.5|      9.08|         0.0|                  0.3|       45.38| 90.75999999999999|
|       1|        9.5|  0.5|    0.5|       2.7|         0.0|                  0.3|        13.5|              27.0|
|       1|       15.5|  0.5|    0.5|       4.2|         0.0|                  0.3|        21.0|              42.0|
|       1|       10.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        11.8|              23.6|
|       1|       26.5|  0.5|    0.5|       1.0|        5.76|                  0.3|       34.56|             69.12|
|       1|        9.0|  0.5|    0.5|      2.05|         0.0|                  0.3|       12.35|24.700000000000003|
|       1|       14.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        15.8|              31.6|
|       1|        3.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         4.3|               8.6|
|       1|        6.0|  0.5|    0.5|      1.45|         0.0|                  0.3|        8.75|              17.5|
|       1|        6.5|  0.5|    0.5|       1.5|         0.0|                  0.3|         9.3|              18.6|
|       2|       10.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        11.8|              23.6|
|       2|       10.0|  0.5|    0.5|      2.26|         0.0|                  0.3|       13.56|             27.12|
|       1|       14.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        15.8|              31.6|
|       1|        8.0|  0.5|    0.5|      1.85|         0.0|                  0.3|       11.15|              22.3|
|       1|       11.0|  0.5|    0.5|       1.7|         0.0|                  0.3|        14.0|              28.0|
|       2|        8.5|  0.5|    0.5|       1.0|         0.0|                  0.3|        10.8|              21.6|
|       2|        5.0|  0.5|    0.5|      1.26|         0.0|                  0.3|        7.56|             15.12|
|       2|       13.0|  0.5|    0.5|      2.86|         0.0|                  0.3|       17.16|             34.32|
|       2|        8.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         9.8|              19.6|
|       2|        8.5|  0.5|    0.5|      2.45|         0.0|                  0.3|       12.25|              24.5|
|       2|       -3.0| -0.5|   -0.5|       0.0|         0.0|                 -0.3|        -4.3|              -8.6|
|       2|        3.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         4.3|               8.6|
|       1|       17.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        18.8|              37.6|
|       1|        2.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         3.8|               7.6|
|       1|        2.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         3.8|               7.6|
|       1|       14.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        15.8|              31.6|
|       2|        6.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         7.3|              14.6|
|       2|        4.5|  0.5|    0.5|       2.0|         0.0|                  0.3|         7.8|              15.6|
|       2|        4.0|  0.5|    0.5|      1.06|         0.0|                  0.3|        6.36|12.719999999999999|
|       1|        8.0|  0.5|    0.5|      1.86|         0.0|                  0.3|       11.16|             22.32|
|       1|       17.0|  0.5|    0.5|      5.45|         0.0|                  0.3|       23.75|              47.5|
|       1|        5.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         6.3|              12.6|
|       1|       11.5|  0.5|    0.5|       3.2|         0.0|                  0.3|        16.0|              32.0|
|       1|       15.5|  0.5|    0.5|       2.2|         0.0|                  0.3|        19.0|              38.0|
|       1|       21.0|  0.5|    0.5|       3.5|         0.0|                  0.3|        25.8|              51.6|
|       2|       52.0|  0.0|    0.5|       0.0|         0.0|                  0.3|        52.8|             105.6|
|       2|       18.5|  0.5|    0.5|       1.0|         0.0|                  0.3|        20.8|              41.6|
|       1|        8.0|  0.5|    0.5|      1.85|         0.0|                  0.3|       11.15|              22.3|
|       1|        8.0|  0.5|    0.5|       2.3|         0.0|                  0.3|        11.6|23.200000000000003|
|       1|        8.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         9.8|              19.6|
|       1|       13.0|  0.5|    0.5|      2.85|         0.0|                  0.3|       17.15|              34.3|
|       2|        3.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         4.8|               9.6|
|       2|        7.0|  0.5|    0.5|      1.66|         0.0|                  0.3|        9.96|             19.92|
|       2|       22.5|  0.5|    0.5|       1.0|         0.0|                  0.3|        24.8|              49.6|
|       2|        3.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         4.8|               9.6|
|       1|        5.5|  0.5|    0.5|      1.35|         0.0|                  0.3|        8.15|              16.3|
|       1|        6.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         7.3|              14.6|
|       1|       18.5|  0.5|    0.5|      3.95|         0.0|                  0.3|       23.75|              47.5|
|       1|       10.5|  0.5|    0.5|       3.5|         0.0|                  0.3|        15.3|              30.6|
|       1|       24.5|  0.5|    0.5|      5.15|         0.0|                  0.3|       30.95|61.900000000000006|
|       2|        4.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         5.3|              10.6|
|       2|        5.5|  0.5|    0.5|      1.36|         0.0|                  0.3|        8.16|             16.32|
|       2|       20.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        21.8|              43.6|
|       2|       15.5|  0.5|    0.5|      5.04|         0.0|                  0.3|       21.84|             43.68|
|       2|       10.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        11.3|              22.6|
|       2|       16.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        17.8|              35.6|
|       1|        5.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         6.3|              12.6|
|       1|        9.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        10.3|              20.6|
|       1|        7.0|  0.5|    0.5|      1.25|         0.0|                  0.3|        9.55|              19.1|
|       1|        5.5|  0.5|    0.5|      1.35|         0.0|                  0.3|        8.15|              16.3|
|       1|        6.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         7.3|              14.6|
|       1|       12.5|  0.5|    0.5|       3.0|         0.0|                  0.3|        16.8|              33.6|
+--------+-----------+-----+-------+----------+------------+---------------------+------------+------------------+
only showing top 100 rows

**Query 2**

In [0]:
df = df.withColumn("pickup_time", to_timestamp("tpep_pickup_datetime", "yyyy-MM-dd HH:mm:ss"))
df = df.withColumn("passenger_count", when(col("passenger_count").isNull(), 0).otherwise(col("passenger_count").cast("int")))
window_spec = Window.partitionBy("PULocationID").orderBy("pickup_time").rowsBetween(Window.unboundedPreceding, Window.currentRow)
df = df.withColumn("cumulative_passenger_count", _sum("passenger_count").over(window_spec))
df.select("pickup_time", "PULocationID", "passenger_count", "cumulative_passenger_count").orderBy("pickup_time").show(100)

+-------------------+------------+---------------+--------------------------+
|        pickup_time|PULocationID|passenger_count|cumulative_passenger_count|
+-------------------+------------+---------------+--------------------------+
|2018-01-01 00:00:00|         229|              1|                         1|
|2018-01-01 00:00:02|          68|              1|                         1|
|2018-01-01 00:00:03|         255|              1|                         1|
|2018-01-01 00:00:03|         236|              3|                         3|
|2018-01-01 00:00:04|          37|              1|                         1|
|2018-01-01 00:00:04|         141|              1|                         1|
|2018-01-01 00:00:06|         162|              1|                         1|
|2018-01-01 00:00:11|         238|              1|                         1|
|2018-01-01 00:00:13|         144|              1|                         1|
|2018-01-01 00:00:14|         170|              1|                         1|
|2018-01-01 00:00:14|         141|              1|                         2|
|2018-01-01 00:00:15|         232|              2|                         2|
|2018-01-01 00:00:15|          90|              1|                         1|
|2018-01-01 00:00:16|         265|              1|                         1|
|2018-01-01 00:00:17|         229|              1|                         2|
|2018-01-01 00:00:18|         138|              4|                         4|
|2018-01-01 00:00:19|         161|              1|                         1|
|2018-01-01 00:00:20|         164|              2|                         2|
|2018-01-01 00:00:22|         162|              1|                         2|
|2018-01-01 00:00:23|         158|              1|                         1|
|2018-01-01 00:00:24|         186|              1|                         1|
|2018-01-01 00:00:24|         229|              1|                         3|
|2018-01-01 00:00:25|          43|              1|                         1|
|2018-01-01 00:00:25|         237|              1|                         1|
|2018-01-01 00:00:25|         142|              1|                         1|
|2018-01-01 00:00:25|          48|              1|                         1|
|2018-01-01 00:00:26|         164|              1|                         3|
|2018-01-01 00:00:26|         236|              1|                         4|
|2018-01-01 00:00:27|         233|              4|                         4|
|2018-01-01 00:00:28|         170|              6|                         7|
|2018-01-01 00:00:32|          48|              2|                         3|
|2018-01-01 00:00:33|          68|              1|                         2|
|2018-01-01 00:00:35|         132|              1|                         1|
|2018-01-01 00:00:36|          79|              1|                         1|
|2018-01-01 00:00:36|         237|              1|                         2|
|2018-01-01 00:00:36|         161|              2|                         3|
|2018-01-01 00:00:37|         238|              1|                         2|
|2018-01-01 00:00:38|          79|              1|                         2|
|2018-01-01 00:00:38|         166|              1|                         1|
|2018-01-01 00:00:38|         186|              1|                         2|
|2018-01-01 00:00:39|         238|              1|                         3|
|2018-01-01 00:00:40|          68|              1|                         3|
|2018-01-01 00:00:42|         231|              1|                         1|
|2018-01-01 00:00:42|          48|              5|                         8|
|2018-01-01 00:00:42|          68|              1|                         4|
|2018-01-01 00:00:43|          68|              1|                         5|
|2018-01-01 00:00:44|         141|              1|                         3|
|2018-01-01 00:00:44|          50|              1|                         1|
|2018-01-01 00:00:46|         140|              1|                         1|
|2018-01-01 00:00:50|         114|              1|                         1|
|2018-01-01 00:00:51|         264|              1|                         1|
|2018-01-01 00:00:52|          61|              3|                         3|
|2018-01-01 00:00:53|         161|              2|                         5|
|2018-01-01 00:00:53|          24|              1|                         1|
|2018-01-01 00:00:54|         229|              1|                         4|
|2018-01-01 00:00:56|         238|              2|                         5|
|2018-01-01 00:00:58|         162|              2|                         4|
|2018-01-01 00:00:59|          13|              1|                         1|
|2018-01-01 00:00:59|          68|              1|                         6|
|2018-01-01 00:00:59|         264|              6|                         7|
|2018-01-01 00:01:00|         132|              1|                         2|
|2018-01-01 00:01:00|          48|              1|                         9|
|2018-01-01 00:01:00|         151|              1|                         1|
|2018-01-01 00:01:01|         229|              4|                         8|
|2018-01-01 00:01:03|          48|              1|                        10|
|2018-01-01 00:01:05|         144|              4|                         5|
|2018-01-01 00:01:06|         100|              4|                         4|
|2018-01-01 00:01:07|         264|              2|                         9|
|2018-01-01 00:01:08|         144|              1|                         6|
|2018-01-01 00:01:09|          41|              1|                         1|
|2018-01-01 00:01:10|          90|              1|                         2|
|2018-01-01 00:01:11|         229|              1|                         9|
|2018-01-01 00:01:13|          42|              3|                         3|
|2018-01-01 00:01:13|         238|              5|                        10|
|2018-01-01 00:01:13|          90|              1|                         3|
|2018-01-01 00:01:14|          48|              1|                        11|
|2018-01-01 00:01:16|         113|              3|                         3|
|2018-01-01 00:01:16|         100|              2|                         6|
|2018-01-01 00:01:18|         264|              1|                        10|
|2018-01-01 00:01:18|         246|              2|                         2|
|2018-01-01 00:01:19|         148|              6|                         6|
|2018-01-01 00:01:19|         142|              2|                         3|
|2018-01-01 00:01:20|         113|              1|                         4|
|2018-01-01 00:01:22|         239|              1|                         1|
|2018-01-01 00:01:22|          74|              1|                         1|
|2018-01-01 00:01:22|         132|              1|                         3|
|2018-01-01 00:01:24|         237|              1|                         3|
|2018-01-01 00:01:24|         114|              1|                         2|
|2018-01-01 00:01:25|         137|              1|                         1|
|2018-01-01 00:01:25|         142|              5|                         8|
|2018-01-01 00:01:26|         264|              1|                        11|
|2018-01-01 00:01:26|          50|              2|                         3|
|2018-01-01 00:01:28|         229|              1|                        10|
|2018-01-01 00:01:29|           4|              2|                         2|
|2018-01-01 00:01:31|         186|              5|                         7|
|2018-01-01 00:01:32|          90|              1|                         4|
|2018-01-01 00:01:34|         146|              5|                         5|
|2018-01-01 00:01:35|          90|              2|                         6|
|2018-01-01 00:01:35|          43|              1|                         2|
|2018-01-01 00:01:36|         113|              6|                        10|
+-------------------+------------+---------------+--------------------------+
only showing top 100 rows

**Query 3**

In [0]:
df.select("VendorID").distinct().show()

+--------+
|VendorID|
+--------+
|       1|
|       2|
+--------+

In [0]:
from pyspark.sql.functions import col, avg, to_timestamp, year
from pyspark.sql.window import Window
df = df.withColumn("pickup_time", to_timestamp("tpep_pickup_datetime", "yyyy-MM-dd HH:mm:ss"))
window_spec = Window.partitionBy("VendorID").orderBy("pickup_time").rowsBetween(Window.unboundedPreceding, Window.currentRow)
df = df.withColumn("cumulative_avg_fare", avg("fare_amount").over(window_spec))
df = df.withColumn("cumulative_avg_total", avg("total_amount").over(window_spec))
df.select("pickup_time", "VendorID", "fare_amount", "total_amount", "cumulative_avg_fare", "cumulative_avg_total").orderBy("pickup_time").show(10)

+-------------------+--------+-----------+------------+-------------------+--------------------+
|        pickup_time|VendorID|fare_amount|total_amount|cumulative_avg_fare|cumulative_avg_total|
+-------------------+--------+-----------+------------+-------------------+--------------------+
|2018-01-01 00:00:00|       2|       27.0|        27.8|               27.0|                27.8|
|2018-01-01 00:00:02|       2|        7.5|         8.8|              17.25|                18.3|
|2018-01-01 00:00:03|       2|        5.5|         6.8| 13.333333333333334|  14.466666666666667|
|2018-01-01 00:00:03|       1|       20.5|        21.8|               20.5|                21.8|
|2018-01-01 00:00:04|       1|       13.5|        14.8|               17.0|                18.3|
|2018-01-01 00:00:04|       2|        8.0|         9.3|               12.0|              13.175|
|2018-01-01 00:00:06|       1|       23.5|       29.75| 19.166666666666668|  22.116666666666664|
|2018-01-01 00:00:11|       1|        7.0|        9.95|             16.125|              19.075|
|2018-01-01 00:00:13|       1|        6.0|         9.1|               14.1|               17.08|
|2018-01-01 00:00:14|       1|        5.0|         7.3| 12.583333333333334|  15.449999999999998|
+-------------------+--------+-----------+------------+-------------------+--------------------+
only showing top 10 rows

In [0]:
vendor_stats = df.groupBy("VendorID").agg(
    avg("fare_amount").alias("AverageFare"),
    _sum("Revenue").alias("TotalRevenue")
)

vendor_stats.show()

+--------+------------------+--------------------+
|VendorID|       AverageFare|        TotalRevenue|
+--------+------------------+--------------------+
|       1|11.959975333672704|1.1636389410079427E8|
|       2|  12.4669989040122|1.5502233030173886E8|
+--------+------------------+--------------------+

**Query 4**

In [0]:
from pyspark.sql.window import Window
from pyspark.sql.functions import count

window_spec = Window.partitionBy("payment_type").orderBy("tpep_pickup_datetime") \
    .rowsBetween(Window.unboundedPreceding, Window.currentRow)

df_moving_count = df.withColumn(
    "payment_type_moving_count",
    count("*").over(window_spec)
).select(
    "tpep_pickup_datetime", "payment_type", "payment_type_moving_count"
).orderBy("tpep_pickup_datetime")

df_moving_count.show(100, truncate=False)

+--------------------+------------+-------------------------+
|tpep_pickup_datetime|payment_type|payment_type_moving_count|
+--------------------+------------+-------------------------+
|2018-01-01 00:00:00 |2           |1                        |
|2018-01-01 00:00:02 |2           |2                        |
|2018-01-01 00:00:03 |2           |3                        |
|2018-01-01 00:00:03 |2           |4                        |
|2018-01-01 00:00:04 |2           |5                        |
|2018-01-01 00:00:04 |2           |6                        |
|2018-01-01 00:00:06 |1           |1                        |
|2018-01-01 00:00:11 |1           |2                        |
|2018-01-01 00:00:13 |1           |3                        |
|2018-01-01 00:00:14 |2           |7                        |
|2018-01-01 00:00:14 |1           |4                        |
|2018-01-01 00:00:15 |1           |5                        |
|2018-01-01 00:00:15 |2           |8                        |
|2018-01-01 00:00:16 |1           |6                        |
|2018-01-01 00:00:17 |1           |7                        |
|2018-01-01 00:00:18 |2           |9                        |
|2018-01-01 00:00:19 |2           |10                       |
|2018-01-01 00:00:20 |3           |1                        |
|2018-01-01 00:00:22 |2           |11                       |
|2018-01-01 00:00:23 |1           |8                        |
|2018-01-01 00:00:24 |2           |12                       |
|2018-01-01 00:00:24 |1           |9                        |
|2018-01-01 00:00:25 |2           |13                       |
|2018-01-01 00:00:25 |1           |11                       |
|2018-01-01 00:00:25 |1           |10                       |
|2018-01-01 00:00:25 |1           |12                       |
|2018-01-01 00:00:26 |1           |13                       |
|2018-01-01 00:00:26 |2           |14                       |
|2018-01-01 00:00:27 |2           |15                       |
|2018-01-01 00:00:28 |1           |14                       |
|2018-01-01 00:00:32 |2           |16                       |
|2018-01-01 00:00:33 |1           |15                       |
|2018-01-01 00:00:35 |1           |16                       |
|2018-01-01 00:00:36 |2           |17                       |
|2018-01-01 00:00:36 |1           |17                       |
|2018-01-01 00:00:36 |1           |18                       |
|2018-01-01 00:00:37 |2           |18                       |
|2018-01-01 00:00:38 |1           |19                       |
|2018-01-01 00:00:38 |1           |20                       |
|2018-01-01 00:00:38 |2           |19                       |
|2018-01-01 00:00:39 |2           |20                       |
|2018-01-01 00:00:40 |1           |21                       |
|2018-01-01 00:00:42 |1           |22                       |
|2018-01-01 00:00:42 |2           |21                       |
|2018-01-01 00:00:42 |1           |23                       |
|2018-01-01 00:00:43 |2           |22                       |
|2018-01-01 00:00:44 |2           |23                       |
|2018-01-01 00:00:44 |2           |24                       |
|2018-01-01 00:00:46 |1           |24                       |
|2018-01-01 00:00:50 |2           |25                       |
|2018-01-01 00:00:51 |1           |25                       |
|2018-01-01 00:00:52 |1           |26                       |
|2018-01-01 00:00:53 |1           |27                       |
|2018-01-01 00:00:53 |2           |26                       |
|2018-01-01 00:00:54 |2           |27                       |
|2018-01-01 00:00:56 |2           |28                       |
|2018-01-01 00:00:58 |2           |29                       |
|2018-01-01 00:00:59 |1           |28                       |
|2018-01-01 00:00:59 |1           |29                       |
|2018-01-01 00:00:59 |2           |30                       |
|2018-01-01 00:01:00 |2           |31                       |
|2018-01-01 00:01:00 |1           |30                       |
|2018-01-01 00:01:00 |2           |32                       |
|2018-01-01 00:01:01 |2           |33                       |
|2018-01-01 00:01:03 |1           |31                       |
|2018-01-01 00:01:05 |1           |32                       |
|2018-01-01 00:01:06 |1           |33                       |
|2018-01-01 00:01:07 |1           |34                       |
|2018-01-01 00:01:08 |1           |35                       |
|2018-01-01 00:01:09 |2           |34                       |
|2018-01-01 00:01:10 |2           |35                       |
|2018-01-01 00:01:11 |2           |36                       |
|2018-01-01 00:01:13 |2           |38                       |
|2018-01-01 00:01:13 |2           |39                       |
|2018-01-01 00:01:13 |2           |37                       |
|2018-01-01 00:01:14 |1           |36                       |
|2018-01-01 00:01:16 |2           |41                       |
|2018-01-01 00:01:16 |2           |40                       |
|2018-01-01 00:01:18 |2           |42                       |
|2018-01-01 00:01:18 |2           |43                       |
|2018-01-01 00:01:19 |2           |44                       |
|2018-01-01 00:01:19 |1           |37                       |
|2018-01-01 00:01:20 |2           |45                       |
|2018-01-01 00:01:22 |2           |47                       |
|2018-01-01 00:01:22 |2           |46                       |
|2018-01-01 00:01:22 |1           |38                       |
|2018-01-01 00:01:24 |1           |39                       |
|2018-01-01 00:01:24 |1           |40                       |
|2018-01-01 00:01:25 |2           |48                       |
|2018-01-01 00:01:25 |1           |41                       |
|2018-01-01 00:01:26 |2           |49                       |
|2018-01-01 00:01:26 |1           |42                       |
|2018-01-01 00:01:28 |2           |50                       |
|2018-01-01 00:01:29 |1           |43                       |
|2018-01-01 00:01:31 |2           |51                       |
|2018-01-01 00:01:32 |1           |44                       |
|2018-01-01 00:01:34 |1           |45                       |
|2018-01-01 00:01:35 |2           |52                       |
|2018-01-01 00:01:35 |1           |46                       |
|2018-01-01 00:01:36 |2           |53                       |
+--------------------+------------+-------------------------+
only showing top 100 rows

**Query 5**

In [0]:
from pyspark.sql.functions import sum, desc, col, lit, to_date

target_date = "2018-01-19"
df_date_filtered = df.filter(to_date(col("tpep_pickup_datetime")) == lit(target_date))

# Add Revenue column
df_date_filtered = df_date_filtered.withColumn(
    "Revenue",
    col("fare_amount") + col("extra") + col("mta_tax") + col("improvement_surcharge") + col("tip_amount") + col("tolls_amount") + col("total_amount")
)

df_agg = df_date_filtered.groupBy("VendorID").agg(
    sum("Revenue").alias("total_revenue"),
    sum("passenger_count").alias("total_passengers"),
    sum("trip_distance").alias("total_distance")
)

# We will get top 2 vendors
top2_vendors = df_agg.limit(2)

top2_vendors.show(truncate=False)

+--------+-----------------+----------------+-----------------+
|VendorID|total_revenue    |total_passengers|total_distance   |
+--------+-----------------+----------------+-----------------+
|1       |4462849.16000325 |176404          |378842.5000000025|
|2       |5708885.429996097|341985          |500606.6799999969|
+--------+-----------------+----------------+-----------------+

**Query 6**

In [0]:
from pyspark.sql.functions import sum, desc

route_passenger_counts = df.groupBy("PULocationID", "DOLocationID").agg(
    sum("passenger_count").alias("total_passengers")
)
# We will get the route with the highest number of passengers
top_route = route_passenger_counts.orderBy(desc("total_passengers")).limit(1)

top_route.show(truncate=False)
# Show top 5 most frequently used routes
route_passenger_counts.orderBy(desc("total_passengers")).show(5, truncate=False)

+------------+------------+----------------+
|PULocationID|DOLocationID|total_passengers|
+------------+------------+----------------+
|264         |264         |186698          |
+------------+------------+----------------+

+------------+------------+----------------+
|PULocationID|DOLocationID|total_passengers|
+------------+------------+----------------+
|264         |264         |186698          |
|237         |236         |86732           |
|236         |236         |78691           |
|236         |237         |71751           |
|237         |237         |64492           |
+------------+------------+----------------+
only showing top 5 rows

**Query 7**

In [0]:
from pyspark.sql.functions import max as _max, sum as _sum, col, expr, desc

df_input = df
latest_ts = df_input.agg(_max("tpep_pickup_datetime")).first()[0]

window_seconds = 10
window_start = expr(f"timestamp('{latest_ts}') - INTERVAL {window_seconds} seconds")

recent_rides = df_input.filter(
    (col("tpep_pickup_datetime") > window_start) &
    (col("tpep_pickup_datetime") <= latest_ts)
)
top_pickup_locations = recent_rides.groupBy("PULocationID").agg(
    _sum("passenger_count").alias("total_passengers")
).orderBy(desc("total_passengers"))

top_pickup_locations.show(truncate=False)

+------------+----------------+
|PULocationID|total_passengers|
+------------+----------------+
|48          |2               |
+------------+----------------+

**Saving to Parquet**

In [0]:
from pyspark.sql.functions import col, sum as _sum

top_dropoff_locations = df.groupBy("DOLocationID") \
    .agg(_sum("passenger_count").alias("total_passengers")) \
    .orderBy("total_passengers", ascending=False)

In [0]:

from pyspark.sql.functions import sum as _sum
from pyspark.sql.functions import col

df = df.withColumn("Revenue", col("fare_amount") + col("extra") + col("mta_tax") + col("tip_amount") + col("tolls_amount") + col("improvement_surcharge") + col("congestion_surcharge"))

vendor_revenue = df.groupBy("VendorID") \
    .agg(_sum("Revenue").alias("total_revenue")) \
    .orderBy("total_revenue", ascending=False)

In [0]:
storage_account_name = "taxidatalake2025"
container_name = "taxidata"
abfss_path = f"abfss://taxidata@taxidatalake2025.dfs.core.windows.net"

top_pickup_locations.write.mode("overwrite").parquet(f"{abfss_path}/query1_top_pickup_locations")
top_dropoff_locations.write.mode("overwrite").parquet(f"{abfss_path}/query2_top_dropoff_locations")
vendor_revenue.write.mode("overwrite").parquet(f"{abfss_path}/query3_vendor_revenue")
df_moving_count.write.mode("overwrite").parquet(f"{abfss_path}/query4_moving_count")
top2_vendors.write.mode("overwrite").parquet(f"{abfss_path}/query5_top2_vendors")
top_route.write.mode("overwrite").parquet(f"{abfss_path}/query6_top_route")
top_pickup_locations.write.mode("overwrite").parquet(f"{abfss_path}/query7_top_pickup_locations")